@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


body{
    background-color: #0E0E0E;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    padding: 20px
}

header {
    display: block;
    flex-direction: column;
    align-items: center; /* Align content to the top of the section */
    place-items: center;
}

h3 {
    display: block;
    margin: 0 auto; 
    max-width: 800px;
    margin-top: 50px;

    font-family: 'Lora', serif;
    font-weight: 300;
    font-size: 30px;
}

p {
    display: block;
    margin: 0 auto; 
    max-width: 800px;
    margin-top: 10px;

    font-weight: 200;
    font-size: 20px;
}

ul {
    list-style: none;
    display: block;
    margin: 0 auto; 
    max-width: 800px;
    margin-top: 10px;

    font-weight: 200;
    font-size: 20px;
}

li::marker {
    content: ' -  ';
}

/* Normal link color */
a {
    color: #fff; /* Replace with your desired color */
    text-decoration: none;
    transition: all 0.3s;
}
  
/* Hover link color */
a:hover {
    color: #fff; /* Replace with your desired hover color */
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
  
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
}
.show {
    opacity: 1;
    filter: blur(0px);
}

.header {
    display: block;
    color: white;

    font-size: 64px;
    font-family: Inter;
    font-weight: 400;
    line-height: 80px;
    word-wrap: break-word;
    text-align: left; /* Left-align the text within the header */
    margin-bottom: 20px; /* Add some bottom margin to separate header and writing */
    max-width: 800px;
    margin: 0 auto;

    background: linear-gradient(90deg, 
        rgb(255, 179, 179), 
        rgba(255, 255, 179), 
        rgba(179, 255, 179), 
        rgba(179, 255, 255), 
        rgba(179, 179, 255), 
        rgba(255, 179, 255), 
        rgba(255, 179, 179),
        rgba(255, 255, 179),
        rgba(179, 255, 179),
        rgba(179, 255, 255), 
        rgba(179, 179, 255),
        rgba(255, 179, 255),
        rgba(255, 179, 179)
    );
    background-size: 200% 100%;
    animation: rainbowAnimation 5s linear infinite;
    -webkit-background-clip: text; /* Clip text to the background gradient */
    -webkit-text-fill-color: transparent; /* Make the text transparent so the background gradient is visible through text */

}

@keyframes rainbowAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.writing {
    color: white;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 17.50px;
    word-wrap: break-word;
    max-width: 800px; /* Set a maximum width for the text */
    margin: 0 auto; /* Center the text within the section */
    text-align: left; /* Left-align the text within the writing */
    text-shadow: 4px 0px 10px rgba(255, 255, 255, 0.50);
}