body{
    background-color: #14121a;
    }
    .mypfp {
    border-radius: 100px;
    border: 2px solid #e2b714;
    height: 50px;
    width: 50px;
    float: left;

    position: absolute;
    top: 5px;
    left: 5px;
    }
    a {
    color: #e2b714;
    }
    .UnclickableSlash {
    color: #7a7a85;
    }
    a:link {
    text-decoration: none;
    }
    a:visited {
    text-decoration: none;
    }
    a:hover {
    text-decoration: none;
    color: #e2b714;
    }
    a:active {
    text-decoration: none;
    }

    .innerdiv {
      /*border: 1px solid rgb(255, 255, 255);*/
      position: absolute;
      top: 9%;
      left: 3.5%;

      width: 92.5%;
      height: 90%;
    }

    .navbar {
    color: #8b897f;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 15px;

    position: absolute;
    top: 8px;
    left: 65px;
    width: 500px;
    }
    .tempwbrd {
    color: rgb(223, 223, 223);
    font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    }

    #musicdiv {
    /*order: 1px solid white;*/
    position: absolute;
    top: 10px;
    left: 26%;
    height: 95%;
    width: 47%;
    }

    #musiccard {
    background-color: rgb(35, 36, 43);
    border: 2px solid rgb(35, 36, 43);
    border-radius: 10px;
    height: 17%;
    width: 99%;
    margin-top: 1%;
    transition-duration: 0.4s;
    }
    #musiccard:hover {
        border: 2px solid #e2b714;
    }
    #mcimg {
        border-radius: 10px;
        position: absolute;
        top: 4%;
        left: 4%;
    }
    #mchead {
        color: rgba(255, 255, 255, 0.719);
        position: absolute;
        top: 1.75%;
        left: 18%;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
    #mcdesc {
        color: rgba(255, 255, 255, 0.568);
        position: absolute;
        top: 5%;
        left: 18%;
        font-family: 'Space Mono', sans-serif;
    }

    #musiccard2 {
    background-color: rgb(35, 36, 43);
    border: 2px solid rgb(35, 36, 43);
    border-radius: 10px;
    height: 17%;
    width: 99%;
    margin-top: 10px;
    transition-duration: 0.4s;
    }
    #musiccard2:hover {
        border: 2px solid #e2b714;
    }
    #mcimg2 {
        border-radius: 10px;
        position: absolute;
        top: 22.5%;
        left: 4%;
    }
    #mchead2 {
        color: rgba(255, 255, 255, 0.719);
        position: absolute;
        top: 20%;
        left: 18%;
        font-family: 'Be Vietnam Pro', sans-serif;
    }
    #mcdesc2 {
        color: rgba(255, 255, 255, 0.568);
        position: absolute;
        top: 23.5%;
        left: 18%;
        font-family: 'Space Mono', sans-serif;
    }