body{
  background-color: #14121a;
}
.mypfp {
  border-radius: 100px;
  border: 2px solid #e2b714;
  height: 50px;
  width: 50px;
  float: left;

  position: absolute;
  top: 5px;
  left: 5px;
}
a {
  color: #e2b714;
}
.UnclickableSlash {
  color: #7a7a85;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #e2b714;
}
a:active {
  text-decoration: none;
}

.navbar {
  color: #8b897f;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 15px;

  position: absolute;
  top: 8px;
  left: 65px;
  width: 500px;
}

.tempwbr {
  color: #e2b714;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 50px;

  text-align: center;
}
.tempwbrd {
  color: rgb(223, 223, 223);
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
}
.spansk {
  color: rgb(255, 166, 0);
  font-family: 'Space Mono', monospace;
}