---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "../../components/NavBar.astro";
import ArticleCard from "../../components/Article/ArticleCard.astro";
import "../../styles/global.css";
import "./index.css";

const posts = await getCollection("posts");
//console.log(posts)

---

<BaseLayout title="K:\\journal">
    <div class="hidden" id="center-div">
        <NavBar headertext="# Journal" />
        <p class="writing">
            This basically serves as my personal journal, or blog if you're boring
        </p>

        {posts.map(post => (
            <hr>
            <ArticleCard postData={post.data}/>
        ))}
    </div>
</BaseLayout>