---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "../../components/NavBar.astro";
import "../../styles/global.css";
import "./index.css";

const posts = await getCollection("posts");
// console.log(posts)
---

<BaseLayout title="K:\\journal">
    <div class="hidden" id="center-div">
        <NavBar headertext="# Journal" />
        <p class="writing">
            This basically serves as my personal journal, or blog if you're boring
        </p>

        <ul>
            {posts.map(post => (
                <li>
                    <a href={`/journal/${post.data.slug}`}>
                        <p>{post.data.title}</p>
                    </a>
                </li>
            ))}
        </ul>
    </div>
</BaseLayout>