#center-div {
    min-width: 500px;
    max-width: 800px;
    text-align: left;
    margin: auto
}

.flex-container {
    display: flex;
    gap: 10px;
}

.writing {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 100%; /* 32px */
    margin-top: 5px;

    display: block;
    text-align: left;
    margin-top: 5px;
}

@keyframes rainbowAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
}

.header {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 125%; /* 80px */
    margin-bottom: 2px;
    
    display: block;

    color: linear-gradient(90deg, 
          rgba(162, 0, 255, 0.25), 
          rgba(76, 0, 255, 0.25), 
          rgba(255, 0, 212, 0.25),
          rgba(162, 0, 255, 0.25), 
          rgba(76, 0, 255, 0.25), 
          rgba(255, 0, 212, 0.25),
          rgba(162, 0, 255, 0.25)
    );
    animation: rainbowAnimation 5s linear infinite;
}