---
import { Python, Javascript, Git, Lua, Luau, Cplusplus, Astro as AstroIcon, Kotlin, Cloudflarepages, Intellijidea, Framer, Figma, Openjdk as Java, Linux } from 'simple-icons-astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
import "./about-me.css";
---
<BaseLayout title="K:\\about-me">
    <div class="hidden" id="center-div">
        <NavBar headertext="# About Me" />
        <p class="writing">
            I'm a High School student from the United States pursuing a career in software engineering.
            <br> <br>

            I’m what is considered a “self-taught” programmer. I’m not a professional just yet I’m still early on in my journey.
            I like to work or learn about anything I deem to be interesting. For example, Roblox Game Development, Web Development, and Software Automation.
            <br> <br>

            I enjoy playing video games every now and again, going out with friends, and especially listening to music.
            My music taste varies a lot, so uh according to my stats.fm, my top 3 artists are: Tyler The Creator, Mac DeMarco, and Kendrick Lamar
            though Sweatcult lowk so peak....
        </p>

        <br>

        <h2>Stack</h2>
        <br>
        <div class="container">
            <h3>Technologies I know & use</h3>
            Technologies I know and actively use in my work.

            <div class="flex-container">
                <a href="https://luau.org/" target="_blank"><Luau /></a>
                <a href="https://www.lua.org/" target="_blank"><Lua /></a>
                <a href="https://git-scm.com/" target="_blank"><Git /></a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><Javascript /></a>
                <a href="https://www.python.org/" target="_blank"><Python /></a>
                <a href="https://www.cloudflare.com/" target="_blank"><Cloudflarepages /></a>
                <a href="https://www.figma.com/" target="_blank"><Figma /></a>
                <a href="https://www.framer.com/" target="_blank"><Framer /></a>
            </div>
        </div>
        <br>

        <div class="container">
            <h3>Technologies I'm learning / plan to learn</h3>
            Technologies I'm currently either learning, or plan to learn in the near future.

            <div class="flex-container">
                <a href="https://astro.build/" target="_blank"><AstroIcon /></a>
                <a href="https://www.java.com/en/" target="_blank"><Java /></a>
                <a href="https://www.linux.org/" target="_blank"><Linux /></a>
                <a href="https://cplusplus.com/" target="_blank"><Cplusplus /></a>
                <a href="https://kotlinlang.org/" target="_blank"><Kotlin /></a>
                <a href="https://www.jetbrains.com/idea/" target="_blank"><Intellijidea /></a>
            </div>
        </div>
        <br>
        <br>

        <h2>Cool people I don't know!</h2>
        <br>
        <div class="web-buttons">
            <a href="https://twelvemen.neocities.org/index.html" target="_blank">
                <img src="https://twelvemen.neocities.org/12men.gif">
            </a>
        </div>

        <br>
        <br>

        <h2>Random Buttons I found!</h2>
        <br>
        <div class="web-buttons">
            <a href="https://astro.build/" target="_blank">
                <img src="/buttons/astro.png" width="88" height="31" />
            </a>
            <a href="https://www.jetbrains.com/" target="_blank">
                <img src="/buttons/jetbrains.png" width="88" height="31" />
            </a>

            <a href="https://a6hawk.com/kill/kill.webm" target="_blank">
                <img src="/buttons/killa6hawk.gif" width="88" height="31" />
            </a>

            <a href="https://neocities.org/" target="_blank">
                <img src="https://basil.cafe/img/buttons/webdesign.gif" width="88" height="31" />
            </a>
        </div>
    </div>
</BaseLayout>