---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import { getEntry } from 'astro:content';

import "../styles/global.css";
import "./changelog.css"; 

const changelog = await getEntry('changelog', 'changelog');
const { Content } = await changelog.render();
---

<BaseLayout title="K:\\changelog">
    <div class="hidden" id="center-div">
        <NavBar headertext="# Changelog" />
        <br>
        <div class="writing">
            <Content />
        </div>
    </div>
</BaseLayout>