---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "../../components/NavBar.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import "../../styles/global.css";
import "./index.css";

// console.log(posts)
---

<BaseLayout title="K:\\my-work">
    <div class="hidden" id="center-div">
        <NavBar headertext="# My Work" />
        <p class="writing">
            Here you'll find all the projects and work I've done throughout the years
        </p>

        <hr>

        <ProjectCard
            projectheader="Crimson-Save Menu"
            projectimage="/my-work/CrimsonSaveMainMenu.png"
            viewlink="https://www.youtube.com/watch?v=8Z5A2DpItr4"
            opposite="True">
            
            This was made for an Undertale-like game!<br>
            <br>
            The game is still a work-in-progress but this is easily my best work yet, in terms of main menus at least.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Steal An Addict"
            projectimage="/my-work/StealAnAddict.png"
            viewlink="/my-work/showcases/StealAnAddict.mp4"
            opposite="False">
            
            Game was worked on throughout May of 2025, and eventually discontinued in favor of Icefall.<br>
            <br>
            I am responsible for all the programming & UI. Force animated, and Bliooz built everything.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Icefall Lobby Menu"
            projectimage="/my-work/IcefallLobbyMenu.png"
            viewlink="/my-work/showcases/IcefallMainMenu.mp4"
            opposite="True">
            
            This is a main menu system and interface I made for the game Icefall.<br>
            <br>
            This was created around early 2025. Credit to Forcefuse for the camera movement!
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Slot Machine"
            projectimage="/my-work/SlotMachine.png"
            viewlink="https://www.youtube.com/watch?v=AVHFOuWGrRc"
            sourcelink="https://www.youtube.com/watch?v=AVHFOuWGrRc"
            opposite="False">

            Made in Love2D<br>
            <br>
            This was the project I submitted as my AP Computer Science Principles Exam.<br>
            <br>
            I made this in March of 2025
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Ping Pong"
            projectimage="/my-work/Love2Dpingpong.png"
            viewlink="/my-work/showcases/Love2Dpingpong.mp4"
            sourcelink="https://github.com/khronical/Ping-Pong-Love2D"
            opposite="True">
            
            When doing a project for school, I was learning how to code using base Lua, and in order to do this I made a Ping-Pong with the Love2D framework!<br>
            <br>
            This was around February of 2025.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Custom Inventory System"
            projectimage="/my-work/CustomInventorySystem.png"
            viewlink="/my-work/showcases/CustomInventorySystem.mp4"
            opposite="False">
            
            Made in January of 2025, originally meant for Icefall but got scrapped.<br>
            <br>
            This inventory system had stackable items, also included health and stamina bars.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Random Dice Rolling"
            projectimage="/my-work/RandomDiceRolling.png"
            viewlink="https://www.youtube.com/watch?v=dCJLEgE6__s"
            opposite="True">
            
            The project uses the random library for its randomness. This was made originally for a board game but the group abandoned the project.<br>
            <br>
            This was made around October 2024.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Custom Musket Tech"
            projectimage="/my-work/CustomMusketTech.png"
            viewlink="/my-work/showcases/MusketTechPreview.mp4"
            opposite="False">
            
            I was originally doing this for a line-battles community, but eventually they gave up on it around June 2024, and so did I.<br>
            <br>
            The following is a preview of what I had done, and only as of October 18th 2025 I've decided to return to working on it as a learning project.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="SCP-Style Menu"
            projectimage="/my-work/SCPmainMenu.png"
            viewlink="/my-work/showcases/SCPmainMenuShowcase.mp4"
            opposite="True">
            
            I made this around January of 2024, it was originally made for another SCP game but got repurporsed to a different one.<br>
            <br>
            This was one of my first actual main menu screens I was extremely proud of.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="SCP Nuclear System"
            projectimage="/my-work/SCPnuclearSystem.png"
            viewlink="/my-work/showcases/SCPnuclearSystem.mp4"
            opposite="False">
            
            This was created during the September of 2023 for an SCP game I was working on, credit to Bliooz for voicing this.<br>
            <br>
            This supports different endings as well.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Cruise Missile System"
            projectimage="/my-work/RobloxCruiseMissile.png"
            viewlink="https://youtu.be/R3y27xr-SU4?si=O2MLAB3Lm43NNf50"
            opposite="True">
            
            I made this around August of 2023, and recently improved upon it as of 2025. I originally made this to troll my friends!<br>
            <br>
            This was inspired by the cruise missile that is present in Criminality.
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="VEX Epimetheus"
            projectimage="/my-work/Epimetheus.png"
            sourcelink="https://github.com/khronical/vex-robot-epimetheus-spinup/"
            opposite="False">

            Epimetheus is the name my middle school robotics team decided upon for our robot.<br>
            <br>
            This was for the VEX 'Spin Up!' competition, during 2022-2023. This code is the controller logic for the robot of my team!
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Khronical.dev"
            projectimage="/my-work/Portfolio.png"
            viewlink="https://khronical.dev/"
            sourcelink="https://github.com/khronical/personal-portfolio-website"
            opposite="True">
            
            This is the website you're on now! I started coding these websites around 2021-2022 and have gone through 5 whole redesigns!<br>
            <br>
            Currently, we are on the 6th iteration, which is built using the Astro framework!
        </ProjectCard>

        <hr>
    </div>
</BaseLayout>