---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavBar from "../../components/NavBar.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import "../../styles/global.css";
import "./index.css";

// console.log(posts)
---

<BaseLayout title="K:\\my-work">
    <div class="hidden" id="center-div">
        <NavBar headertext="# My Work" />
        <p class="writing">
            Here you'll find all the projects and work I've done throughout the years
        </p>

        <hr>

        <ProjectCard
            projectheader="Khronical.dev"
            projectimage="/my-work/Portfolio.png"
            viewlink="https://khronical.dev/"
            sourcelink="https://khronical.dev/soon"
            opposite="False">
            
            This is the website you're on now! I started coding these websites around 2021-2022 and have gone through 5 whole redesigns!<br>
            <br>
            Currently, we are on the 6th iteration, which is built using the Astro framework!
        </ProjectCard>

        <hr>

        <ProjectCard
            projectheader="Epimetheus"
            projectimage="/my-work/Epimetheus.png"
            sourcelink="https://github.com/khronical/vex-robot-epimetheus-spinup/"
            opposite="False">

            Epimetheus is the name my middle school robotics team decided upon for our robot.<br>
            <br>
            This was for the VEX 'Spin Up!' competition, during 2022-2023. This code is the controller logic for the robot of my team!
        </ProjectCard>
    </div>
</BaseLayout>