---
const { title } = Astro.props;
---

<title>{title}</title>

<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0">
<meta http-equiv="X-UA-Compatible">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="shortcut icon" type="image/png" href="/favicon.png">

<script defer src="https://us.umami.is/script.js" data-website-id="2d69bcfe-9b75-4c5c-bf5a-57e209cfe61e"></script>