---
const { image, text, alt } = Astro.props;
---

<style>
    .language-card {
        background: rgb(20, 20, 20);
        display: grid;

        height: 100px;
        width: 100px;

        border: 1px;
        border-style: solid;
        border-color: rgb(71, 71, 71);
        border-radius: 10px;

        place-items: center;
        align-content: center;

        color: rgb(155, 155, 155);

        gap: 10px;
    }

    .image {
        height: 50px;
        width: 50px;
    }
</style>

<div class="language-card">
    <img src={image} class="image" alt={alt}>
    {text}
</div>