---
import "../styles/global.css";
---

<nav>
    <div class="links">
        khr /
        <a href="/journal/">Journal</a> /
        <a href="/projects/">Projects</a> /
        <a href="/site-map/">Site Map</a>
    </div>
    <br>
</nav>