/* $desktop:1200px;// col-xl
$laptop:1024px;// col-lg
$tablet:768px;// md
$phone:480px;// sm */

body{
  background-color: #ffffff;
}
.title {
  color: rgb(0, 0, 0);
  font-size: 13vh;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.center {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github {
  transition-duration: 0.2s;
}
.github:hover {
  fill: rgb(63, 63, 63);
}
.github::selection {
  fill: rgb(63, 63, 63);
}

.twitter {
  transition-duration: 0.4s;
}
.twitter:hover {
  fill: #009dff;
}
.twitter::selection {
  fill: #009dff;
}

.twitch {
  transition-duration: 0.4s;
}
.twitch:hover {
  fill: #5900ff;
}
.twitch::selection {
  fill: #5900ff;
}

.socials {
  font-size: 2vh;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  -webkit-transition: fill 1s ease-in-out;
  transition: fill 1s ease-in-out;
}

::-webkit-scrollbar-track {
  background: #14121a;
}
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);;
}
::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color:rgb(255, 255, 255);
}
