/* $desktop:1200px;// col-xl
$laptop:1024px;// col-lg
$tablet:768px;// md
$phone:480px;// sm */

body{
  background-color: white;

  transition: background 0.2s linear;
}

/* --Dark Theme-- */
body.dark {
  background-color: black;
}
body.dark h1 {
  color: #ffffff;
}
body.dark h2 {
  color: #ffffff;
}
body.dark .title {
  text-shadow: 1px 0px 14px #FFFFFF;
}
body.dark #quote {
  text-shadow: 1px 0px 14px #FFFFFF;
}
body.dark .twitch {
  transition-duration: 0.4s;
  fill: #ffffff;
}
body.dark .twitch:hover {
  fill: #5900ff;
}
body.dark .instagram {
  transition-duration: 0.4s;
  fill: #ffffff;
}
body.dark .instagram:hover {
  fill: #ff0080;
}
body.dark .spotify {
  transition-duration: 0.4s;
  fill: #ffffff;
}
body.dark .spotify:hover {
  fill: #00d95f;
}
body.dark .tiktok {
  transition-duration: 0.4s;
  fill: #ffffff;
}
body.dark .tiktok:hover {
  fill: #27cbfd;
}
body.dark .github {
  fill: #ffffff;
}
body.dark .github:hover {
  fill: rgb(126, 126, 126);
}

body.dark ::selection {
  background: #ffffff; /* WebKit/Blink Browsers */
  color:rgb(0, 0, 0);
}
/* --Dark Theme-- */

hr {
  border: none;
}

.title {
  font-size: 13vh;
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-shadow: 0px 0px 20px rgba(0,0,0,0.86);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#quote {
  text-shadow: 0px 0px 20px rgba(0,0,0,0.86);
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.github {
  transition-duration: 0.2s;
}
.github:hover {
  fill: rgb(63, 63, 63);
}
.github::selection {
  fill: rgb(63, 63, 63);
}

.twitch {
  transition-duration: 0.4s;
  color: #000000;
}
.twitch:hover {
  fill: #5900ff;
}
.twitch::selection {
  fill: #5900ff;
}

.instagram {
  transition-duration: 0.4s;
  color: #000000;
}
.instagram:hover {
  fill: #ff0080;
}
.instagram::selection {
  fill: #ff0080;
}

.spotify {
  transition-duration: 0.4s;
  color: #000000;
}
.spotify:hover {
  fill: #00d95f;
}
.spotify::selection {
  fill: #00d95f;
}

.tiktok {
  transition-duration: 0.4s;
  color: #000000;
}
.tiktok:hover {
  fill: #27cbfd;
}
.tiktok::selection {
  fill: #27cbfd;
}

.socials {
  font-size: 2vh;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  -webkit-transition: fill 1s ease-in-out;
  transition: fill 1s ease-in-out;
}

::-webkit-scrollbar-track {
  background: #14121a;
}
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88);;
}
::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color:rgb(255, 255, 255);
}
